[submodule "vendor/qemu"]
	path = vendor/qemu
	url = https://github.com/steelbrain/qemu-reims-vgpu.git
	branch = host-reims-vgpu-vmapple
[submodule "third_party/OSX-KVM"]
	path = third_party/OSX-KVM
	url = https://github.com/kholia/OSX-KVM.git
[submodule "third_party/osx-serial-generator"]
	path = third_party/osx-serial-generator
	url = https://github.com/sickcodes/osx-serial-generator.git
